/* disable eslint */
{
  "presets": [
    "react",
    "es2015",
    "stage-2",
    "flow"
  ],
  plugins: [
    ["transform-class-properties", { "spec": true }],
    [
      "module-resolver",
    {
      "root": [
        "./src",
      ],
      "alias": {
        "components": "./src/lib/components",
        "app": "./src/app/",
        "contacts": "./src/app/screens/contacts",
        "restapi": "./src/app/services/restapi",
      },
      "extensions": [".js", ".jsx"],
    }
  ]],
  "compact": false,
  "sourceMaps": true,
}
/* enable eslint */
